.flag {
    --heightwidth: 1.5rem;
    height:var(--heightwidth);
    width:var(--heightwidth);
}

.icon {
    background: transparent;
    border: none;
    font-size: 1.5rem;
}

.icon::after {
    visibility: hidden;
}

.icon:hover {
    color: rgb(20,20,20)
}

.dropdown-lang {
    margin: 1.125rem 0 0 0 !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}