<div ngbDropdown display="dynamic" class="d-inline-block">
    <button type="button" class="bi bi-globe icon mt-2" id="langDropdown" ngbDropdownToggle></button>
    <div ngbDropdownMenu aria-labelledby="langDropdown" class="dropdown-lang">
        <button *ngFor="let language of languageList" ngbDropdownItem (click)="changeSiteLanguage(language.code)" class="d-flex justify-content-start">
            <img src="{{language.flag}}" class="flag me-2">
            {{language.label}}
        </button>
    </div>
</div>

