.navindex {
    z-index: 100;
    box-shadow: 0px 0px 5px black;
}

.author {
    font-size: 0.8rem;
}

.version {
    font-size: 0.6rem;
    position: absolute;
    top:44px;
    font-weight:700;
}

.brand {
    font-family: 'McLaren', cursive;
    font-size: 2rem;
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

