<nav class="navbar navbar-expand-lg" style="background-color:rgb(240, 140, 0)">
  <a class="navbar-brand px-3" href="#">YatzyApp</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="d-flex col-12">
  <app-add-players></app-add-players>
  <app-dices class="col-6"></app-dices>
  <app-scoreBoard class="col-3"></app-scoreBoard>
</div>


