<nav class="navbar navbar-expand-lg navindex bg-theme">
  <div class="d-flex mx-auto col-12 col-lg-6">
    <app-sound></app-sound>
    <div class="mx-auto">
      <div class="brand mx-auto">Yatzy app</div>
      <span class="version ps-1">{{version}}</span>
    </div>
    <app-language></app-language>
  </div>
  
  <!-- <div class="ms-auto d-flex">
    <app-sound></app-sound>
    <app-language></app-language>
  </div> -->


  <!-- <div class="author fst-italic">{{"MADEBY" | translate}}</div> -->



  <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
</nav>
<router-outlet>
<!-- <footer class="bg-theme">
  <div class="d-flex flex-column">
    <div>{{"MADEBY" | translate}}</div>
  </div>
</footer> -->