<nav class="navbar navbar-expand-lg navindex" style="background-color:rgb(240, 140, 0)">
    <div class="d-flex flex-column">
      <div class="navbar-brand brand px-3">Yatzy App<span class="version">v1.0.2</span></div>
      <div class="px-3 author fst-italic">by Christopher Reineborn </div>
    </div>
    <!-- <a class="navbar-brand px-3" href="#">Yatzy App<br><p></p></a>
    <div class="pe-2">by Christopher Reineborn</div> -->
    <app-sound class="ms-auto"></app-sound>
    <app-language></app-language>

    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
</nav>
<router-outlet>