.btn-custom {
--bs-btn-color: rgb(240, 140, 0); 
--bs-btn-border-color: rgb(240, 140, 0);
--bs-btn-hover-color: white;
--bs-btn-hover-border-color: rgb(240, 140, 0);
--bs-btn-hover-bg: rgb(240, 140, 0);
--bs-btn-active-color: white;
--bs-btn-active-bg: rgb(240, 125, 0);
--bs-btn-active-border-color: rgb(240, 125, 0);
}

.transparent-dice {
    font-size:5rem;
    font-weight:400;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    color: transparent;
    padding: 0.375rem 0,75rem !important;
    cursor: auto;
    border: 1px solid transparent;
    border-radius: 0.375rem;
    display:inline-block;
}

.transparent-dice:active {
    color: transparent;
    background-color: transparent;
    border-color: transparent;
}