<div class="d-flex flex-row col-12">
    <div class="d-flex flex-column col-10">
        <div class="d-flex w-auto justify-content-between">
            <div *ngFor="let die of this.availableDice; index as i">
                <button type="button" *ngIf="die.side === 0" [disabled]="this.diceAvailable" class="btn-dice bi bi-dice-1 display-2" (click)="pickDie(i)"></button>
                <i *ngIf="die.side === -1" class="btn-dice display-2 bi bi-dice-1 transparent-dice"></i>
                <button type="button" *ngIf="die.side === 1" [disabled]="this.diceAvailable" class="btn-dice bi bi-dice-1 display-2" (click)="pickDie(i)"></button>
                <button type="button" *ngIf="die.side === 2" [disabled]="this.diceAvailable" class="btn-dice bi bi-dice-2 display-2" (click)="pickDie(i)"></button>
                <button type="button" *ngIf="die.side === 3" [disabled]="this.diceAvailable" class="btn-dice bi bi-dice-3 display-2" (click)="pickDie(i)"></button>
                <button type="button" *ngIf="die.side === 4" [disabled]="this.diceAvailable" class="btn-dice bi bi-dice-4 display-2" (click)="pickDie(i)"></button>
                <button type="button" *ngIf="die.side === 5" [disabled]="this.diceAvailable" class="btn-dice bi bi-dice-5 display-2" (click)="pickDie(i)"></button>
                <button type="button" *ngIf="die.side === 6" [disabled]="this.diceAvailable" class="btn-dice bi bi-dice-6 display-2" (click)="pickDie(i)"></button>
            </div>
        </div>

        <hr class="w-full">
        
        <div class="d-flex w-auto justify-content-between">
            <div *ngFor="let die of this.savedDice; index as i">
                <i *ngIf="die.side === -1" class="btn-dice display-2 bi bi-dice-1 transparent-dice"></i>
                <button type="button" *ngIf="die.side === 1" [disabled]="this.diceAvailable" class="btn-dice bi bi-dice-1 display-2" (click)="removeDie(i)"></button>
                <button type="button" *ngIf="die.side === 2" [disabled]="this.diceAvailable" class="btn-dice bi bi-dice-2 display-2" (click)="removeDie(i)"></button>
                <button type="button" *ngIf="die.side === 3" [disabled]="this.diceAvailable" class="btn-dice bi bi-dice-3 display-2" (click)="removeDie(i)"></button>
                <button type="button" *ngIf="die.side === 4" [disabled]="this.diceAvailable" class="btn-dice bi bi-dice-4 display-2" (click)="removeDie(i)"></button>
                <button type="button" *ngIf="die.side === 5" [disabled]="this.diceAvailable" class="btn-dice bi bi-dice-5 display-2" (click)="removeDie(i)"></button>
                <button type="button" *ngIf="die.side === 6" [disabled]="this.diceAvailable" class="btn-dice bi bi-dice-6 display-2" (click)="removeDie(i)"></button>
            </div>
        </div>
    </div>
    <button type="button" class="btn-play bi bi-play-fill col-2 mx-auto my-auto" [disabled]="this.disablePlayButton" (click)="hitDices()"></button>
</div>
