<div class="col-11 col-lg-6 py-2 mx-auto">
    <div class="d-flex flex-row justify-content-center">
        <div class="position-absolute top-50 start-50 translate-middle display-1 text-center fw-bold text-nowrap" [@yourTurn]="animationState">{{"SCOREBOARD.YOURTURN" | translate}}</div>
        
        <div class="d-flex flex-column table-headings-width">
            <div class="table-header table-header-player bg-white table-leftup-round">{{"SCOREBOARD.PLAYERS" | translate}}</div>
            <div class="table-scoreNames table-leftdown-round table-border bg-white" *ngFor="let scoreHeading of scoreBoardHeaders">
                <div *ngIf="scoreHeading === scoreBoardHeaders[6] || scoreHeading === scoreBoardHeaders[7] || scoreHeading === scoreBoardHeaders[17]; else normalScore" class="table-special-scoreNames">
                    {{scoreHeading}}
                </div>
                <ng-template #normalScore>
                    {{scoreHeading}}
                </ng-template>
            </div>
        </div>
        
        <div class="d-flex flex-column table-column-width" *ngFor="let Player of players">
            <!-- Headers -->
            <div *ngIf="Player.socketId === this.lastPlayer.socketId; else notLastOccurenceHeader" class="table-header table-rightup-round text-truncate bg-white">{{Player.name}}</div>
            <ng-template #notLastOccurenceHeader>
                <div class="table-header text-truncate bg-white">{{Player.name}}</div>
            </ng-template>
            
            <!-- CurrentPlayer = true & socketId match -->
            <div *ngIf="Player.currentPlayer === true && Player.socketId === this.clientPlayer.socketId">
                <div *ngIf="Player.socketId === this.lastPlayer.socketId; else notLastOccurenceTrueMatch">
                    <div class="table-border table-rightdown-round d-flex bg-white" *ngFor="let scoreRow of Player.score.scoreBoard; index as i">
                        <div *ngIf="scoreRow.selectable === false && scoreRow.score === 0 && scoreRow.name !== this.translateService.instant('DICE.BONUS')  && scoreRow.name !== this.translateService.instant('DICE.TOTAL') && scoreRow.name !== this.translateService.instant('DICE.SUBTOTAL'); else normalScoreTrueMatch">
                            <i class="bi bi-x crossedScore"></i>
                        </div>
                        <ng-template #normalScoreTrueMatch>
                            {{scoreRow.score}}
                        </ng-template>
                        <span *ngIf="scoreRow.selectable === true && this.diceHit === true && this.possibleScores[i] > 0" class="possible-score">
                            +{{this.possibleScores[i]}}
                        </span>
                        <button *ngIf="scoreRow.selectable === true" type="button" class="scoreboard-btn bi bi-plus ms-auto" (click)="this.setScore(scoreRow.name)"></button>
                    </div>
                </div>
                
                <ng-template #notLastOccurenceTrueMatch>
                    <div class="table-border d-flex bg-white" *ngFor="let scoreRow of Player.score.scoreBoard; index as i">
                        <div *ngIf="scoreRow.selectable === false && scoreRow.score === 0 && scoreRow.name !== this.translateService.instant('DICE.BONUS')  && scoreRow.name !== this.translateService.instant('DICE.TOTAL') && scoreRow.name !== this.translateService.instant('DICE.SUBTOTAL'); else normalScoreTrueMatchNotLast">
                            <i class="bi bi-x crossedScore"></i>
                        </div>
                        <ng-template #normalScoreTrueMatchNotLast>
                            {{scoreRow.score}}
                        </ng-template>
                        <span *ngIf="scoreRow.selectable === true && this.diceHit === true && this.possibleScores[i] > 0" class="possible-score">+{{this.possibleScores[i]}}</span>
                        <button *ngIf="scoreRow.selectable === true" type="button" class="scoreboard-btn bi bi-plus ms-auto" (click)="this.setScore(scoreRow.name)"></button>
                    </div>
                </ng-template>
            </div>

            <!-- CurrentPlayer = true & socketId doesn't match -->
            <div *ngIf="Player.currentPlayer === true && Player.socketId !== this.clientPlayer.socketId">
                <div *ngIf="Player.socketId === this.lastPlayer.socketId; else notLastOccurenceTrueNoMatch">
                    <div class="table-border table-rightdown-round d-flex bg-white" *ngFor="let scoreRow of Player.score.scoreBoard; index as i">
                        <div *ngIf="scoreRow.selectable === false && scoreRow.score === 0 && scoreRow.name !== this.translateService.instant('DICE.BONUS')  && scoreRow.name !== this.translateService.instant('DICE.TOTAL') && scoreRow.name !== this.translateService.instant('DICE.SUBTOTAL'); else normalScoreTrueNoMatch">
                            <i class="bi bi-x crossedScore"></i>
                        </div>
                        <ng-template #normalScoreTrueNoMatch>
                            {{scoreRow.score}}
                        </ng-template>
                        <span *ngIf="scoreRow.selectable === true && this.diceHit === true && this.possibleScores[i] > 0" class="possible-score">
                            +{{this.possibleScores[i]}}
                        </span>
                    </div>
                </div>
                
                <ng-template #notLastOccurenceTrueNoMatch>
                    <div class="table-border d-flex bg-white" *ngFor="let scoreRow of Player.score.scoreBoard; index as i">
                        <div *ngIf="scoreRow.selectable === false && scoreRow.score === 0 && scoreRow.name !== this.translateService.instant('DICE.BONUS')  && scoreRow.name !== this.translateService.instant('DICE.TOTAL') && scoreRow.name !== this.translateService.instant('DICE.SUBTOTAL'); else normalScoreTrueNoMatchNotLast">
                            <i class="bi bi-x crossedScore"></i>
                        </div>
                        <ng-template #normalScoreTrueNoMatchNotLast>
                            {{scoreRow.score}}
                        </ng-template>
                        <span *ngIf="scoreRow.selectable === true && this.diceHit === true && this.possibleScores[i] > 0" class="possible-score">
                            +{{this.possibleScores[i]}}
                        </span>
                    </div>
                </ng-template>
            </div>

            <!-- CurrentPlayer = false & socketId match -->
            <div *ngIf="Player.currentPlayer === false && Player.socketId === this.clientPlayer.socketId">
                <div *ngIf="Player.socketId === this.lastPlayer.socketId; else notLastOccurenceFalseMatch">
                    <div class="scoreboard-not-current-player table-rightdown-round table-border d-flex bg-white" *ngFor="let scoreRow of Player.score.scoreBoard">
                        <div *ngIf="scoreRow.selectable === false && scoreRow.score === 0 && scoreRow.name !== this.translateService.instant('DICE.BONUS')  && scoreRow.name !== this.translateService.instant('DICE.TOTAL') && scoreRow.name !== this.translateService.instant('DICE.SUBTOTAL'); else normalScoreFalseMatch">
                            <i class="bi bi-x crossedScore"></i>
                        </div>
                        <ng-template #normalScoreFalseMatch>
                            {{scoreRow.score}}
                        </ng-template>
                        <button *ngIf="scoreRow.selectable === true" type="button" class="scoreboard-btn bi bi-plus ms-auto" [disabled]="!Player.currentPlayer" (click)="this.setScore(scoreRow.name)"></button>
                    </div>
                </div>
                
                <ng-template #notLastOccurenceFalseMatch>
                    <div class="scoreboard-not-current-player table-border d-flex bg-white" *ngFor="let scoreRow of Player.score.scoreBoard">
                        <div *ngIf="scoreRow.selectable === false && scoreRow.score === 0 && scoreRow.name !== this.translateService.instant('DICE.BONUS')  && scoreRow.name !== this.translateService.instant('DICE.TOTAL') && scoreRow.name !== this.translateService.instant('DICE.SUBTOTAL'); else normalScoreFalseMatchNotLast">
                            <i class="bi bi-x crossedScore"></i>
                        </div>
                        <ng-template #normalScoreFalseMatchNotLast>
                            {{scoreRow.score}}
                        </ng-template>
                        <button *ngIf="scoreRow.selectable === true" type="button" class="scoreboard-btn bi bi-plus ms-auto" [disabled]="!Player.currentPlayer" (click)="this.setScore(scoreRow.name)"></button>
                    </div>
                </ng-template>
            </div>
            
            <!-- CurrentPlayer = false & socketId doesn't match -->
            <div *ngIf="Player.currentPlayer === false && Player.socketId !== this.clientPlayer.socketId">
                <div *ngIf="Player.socketId === this.lastPlayer.socketId; else notLastOccurenceFalseNoMatch">
                    <div class="scoreboard-not-current-player table-border table-rightdown-round d-flex bg-white" *ngFor="let scoreRow of Player.score.scoreBoard">
                        <div *ngIf="scoreRow.selectable === false && scoreRow.score === 0 && scoreRow.name !== this.translateService.instant('DICE.BONUS')  && scoreRow.name !== this.translateService.instant('DICE.TOTAL') && scoreRow.name !== this.translateService.instant('DICE.SUBTOTAL'); else normalScoreFalseNoMatch">
                            <i class="bi bi-x crossedScore"></i>
                        </div>
                        <ng-template #normalScoreFalseNoMatch>
                            {{scoreRow.score}}
                        </ng-template>
                    </div>
                </div>

                <ng-template #notLastOccurenceFalseNoMatch>
                    <div class="scoreboard-not-current-player table-border d-flex bg-white" *ngFor="let scoreRow of Player.score.scoreBoard">
                        <div *ngIf="scoreRow.selectable === false && scoreRow.score === 0 && scoreRow.name !== this.translateService.instant('DICE.BONUS')  && scoreRow.name !== this.translateService.instant('DICE.TOTAL') && scoreRow.name !== this.translateService.instant('DICE.SUBTOTAL'); else normalScoreFalseNoMatchNotLast">
                            <i class="bi bi-x crossedScore"></i>
                        </div>
                        <ng-template #normalScoreFalseNoMatchNotLast>
                            {{scoreRow.score}}
                        </ng-template>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>

