.scoreboard-header {
    border: 1px solid lightgray;
    border-top: none;
    font-weight:600;
    padding:0.3vh 0.5vw;
    font-size: 0.9rem;
}
.scoreboard-header:first-of-type{
    border-top: 1px solid lightgray
}

.scoreboard-participant-header {
    border: 1px solid lightgray;
    border-left: none;
    font-weight:600;
    padding:0.3vh 0.5vw;
    font-size: 0.9rem;
}
.scoreboard-header:last-of-type{
    font-weight:700;
}

.scoreboard-title {
    border-bottom: 2px solid black;
}

.scoreboard-scorerows {
    min-width:7vw;
}

.scoreboard-participant {
    min-width:7vw;
}

.scoreboard-not-current-player {
    color: gray;
    opacity: 50%;
    pointer-events: none;

}

.scoreboard-points{
    border: 1px solid lightgray;
    border-top: none;
    border-left: none;
    padding:0.3vh 0.5vw;
    font-size: 0.9rem;
}
.scoreboard-points:last-of-type{
    font-weight:700;
}

.scoreboard-btn {
    --bs-btn-padding-x: 0.1vw;
    --bs-btn-padding-y: 0;
    --bs-btn-line-height: 1;
}