<div class="w-100 p-2">
    <div class="d-flex flex-row justify-content-center ">
        
        <div class="d-flex flex-column table-headings-width">
            <div class="table-header bg-white table-leftup-round">Scoreboard</div>
            <div class="table-scoreNames table-leftdown-round table-border bg-white" *ngFor="let scoreHeading of scoreBoardHeaders">
                <div *ngIf="scoreHeading === 'Total' || scoreHeading === 'Bonus' || scoreHeading === 'Subtotal'; else normalScore" class="table-special-scoreNames">
                    {{scoreHeading}}
                </div>
                <ng-template #normalScore>
                    {{scoreHeading}}
                </ng-template>
            </div>
        </div>
        
        <div class="d-flex flex-column table-column-width" *ngFor="let Player of players">
            <div *ngIf="Player.socketId === this.lastPlayer.socketId; else notLast" class="table-header table-rightup-round text-truncate bg-white">{{Player.name}}</div>
            <ng-template #notLast>
                <div class="table-header text-truncate bg-white">{{Player.name}}</div>
            </ng-template>
            
            <div *ngIf="Player.currentPlayer === true && Player.socketId === this.clientPlayer.socketId">
                <div *ngIf="Player.socketId === this.lastPlayer.socketId; else notLast1">
                    <div class="table-border table-rightdown-round d-flex justify-content-between bg-white" *ngFor="let scoreRow of Player.score.scoreBoard; index as i">
                        {{scoreRow.score}}
                        <span *ngIf="scoreRow.selectable === true && this.diceHit === true && this.possibleScores[i] > 0" style="color:green">
                            +{{this.possibleScores[i]}}
                        </span>
                        <button *ngIf="scoreRow.selectable === true" type="button" class="scoreboard-btn bi bi-plus" (click)="this.setScore(scoreRow.name)"></button>
                    </div>
                </div>
                
                <ng-template #notLast1>
                    <div class="table-border d-flex justify-content-between bg-white" *ngFor="let scoreRow of Player.score.scoreBoard; index as i">
                        {{scoreRow.score}}
                        <span *ngIf="scoreRow.selectable === true && this.diceHit === true && this.possibleScores[i] > 0" style="color:green">+{{this.possibleScores[i]}}</span>
                        <button *ngIf="scoreRow.selectable === true" type="button" class="scoreboard-btn bi bi-plus" (click)="this.setScore(scoreRow.name)"></button>
                    </div>
                </ng-template>
            </div>

            <div *ngIf="Player.currentPlayer === false && Player.socketId === this.clientPlayer.socketId">
                <div *ngIf="Player.socketId === this.lastPlayer.socketId; else notLast2">
                    <div class="scoreboard-not-current-player table-rightdown-round table-border d-flex justify-content-between bg-white" *ngFor="let scoreRow of Player.score.scoreBoard">
                        {{scoreRow.score}}
                        <button *ngIf="scoreRow.selectable === true" type="button" class="scoreboard-btn bi bi-plus" (click)="this.setScore(scoreRow.name)"></button>
                    </div>
                </div>
                
                <ng-template #notLast2>
                    <div class="scoreboard-not-current-player table-border d-flex justify-content-between bg-white" *ngFor="let scoreRow of Player.score.scoreBoard">
                        {{scoreRow.score}}
                        <button *ngIf="scoreRow.selectable === true" type="button" class="scoreboard-btn bi bi-plus" (click)="this.setScore(scoreRow.name)"></button>
                    </div>
                </ng-template>
            </div>

            <div *ngIf="Player.currentPlayer === true && Player.socketId !== this.clientPlayer.socketId">
                <div *ngIf="Player.socketId === this.lastPlayer.socketId; else notLast3">
                    <div class="table-border table-rightdown-round d-flex justify-content-between bg-white" *ngFor="let scoreRow of Player.score.scoreBoard; index as i">
                        {{scoreRow.score}}
                        <span *ngIf="scoreRow.selectable === true && this.diceHit === true && this.possibleScores[i] > 0" style="color:green">+{{this.possibleScores[i]}}</span>
                    </div>
                </div>
                
                <ng-template #notLast3>
                    <div class="table-border d-flex justify-content-between bg-white" *ngFor="let scoreRow of Player.score.scoreBoard; index as i">
                        {{scoreRow.score}}
                        <span *ngIf="scoreRow.selectable === true && this.diceHit === true && this.possibleScores[i] > 0" style="color:green">
                            +{{this.possibleScores[i]}}
                        </span>
                    </div>
                </ng-template>
            </div>
            
            <div *ngIf="Player.currentPlayer === false && Player.socketId !== this.clientPlayer.socketId">
                <div *ngIf="Player.socketId === this.lastPlayer.socketId; else notLast4">
                    <div class="scoreboard-not-current-player table-border table-rightdown-round d-flex justify-content-between bg-white" *ngFor="let scoreRow of Player.score.scoreBoard">
                        {{scoreRow.score}}
                    </div>
                </div>

                <ng-template #notLast4>
                    <div class="scoreboard-not-current-player table-border d-flex justify-content-between bg-white" *ngFor="let scoreRow of Player.score.scoreBoard">
                        {{scoreRow.score}}
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div *ngIf="this.players.length >=2">
        <div class="modal-header">
            <h4 class="modal-title">Result</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="closeModalAndReset()"></button>
        </div>
        <div class="modal-body">
            <p class="text-center" *ngFor="let Player of this.players; index as i">{{i+1}}. {{Player.name}} - {{Player.score.total.score}}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-ligt" (click)="closeModalAndReset()">Close</button>
        </div>
    </div>
    <div *ngIf="this.players.length === 1">
        <div class="modal-header">
            <h4 class="modal-title">Result</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="closeModalAndReset()"></button>
        </div>
        <div class="modal-body">
            <p class="text-center">You got {{this.players[0].score.total.score}} points!!! </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-ligt" (click)="closeModalAndReset()">Close</button>
        </div>
    </div>
</ng-template>

